.home {
  text-decoration: none;
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 33px;
  font-weight: 700;
  color: inherit;
}
.vector-1-stroke {
  height: 9.4px;
  width: 6.1px;
  position: relative;
  display: none;
}
.button-home,
.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-home {
  align-self: stretch;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-200);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-2xl);
  gap: var(--gap-11xs-9);
}
.navigation {
  width: 91.1px;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
}
.space {
  height: 44px;
  width: 104px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.dashboard1 {
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 44px;
  font-weight: 700;
  color: inherit;
}
.dashboard {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 67px;
}
.monitoring1 {
  margin-left: -2px;
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 44px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
}
.monitoring {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 67px;
}
.docs1 {
  margin-left: -2px;
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 44px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
}
.docs {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 67px;
}
.contacts1 {
  margin-left: -16px;
  text-decoration: none;
  width: 103px;
  position: relative;
  line-height: 44px;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.contacts,
.dashboard-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.contacts {
  width: 76px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.dashboard-parent {
  width: 427px;
  justify-content: center;
  gap: 14px;
  max-width: 100%;
  color: var(--color-gray-100);
}
.app,
.space1 {
  position: relative;
}
.space1 {
  height: 44px;
  width: 103px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.app {
  text-decoration: none;
  flex: 1;
  letter-spacing: 0.01em;
  line-height: 33px;
  font-weight: 700;
  color: inherit;
}
.vector-1-stroke1 {
  height: 9.4px;
  width: 6.1px;
  position: relative;
  display: none;
}
.button-app {
  align-self: stretch;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl);
  gap: var(--gap-11xs-9);
}
.header-tabs,
.navigation1 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.navigation1 {
  width: 91.1px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
}
.header-tabs {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 85px 0 84px;
  max-width: 100%;
  gap: var(--gap-xl);
}
.finance,
.orphic {
  margin: 0;
}
.headline {
  margin: 0;
  width: 569px;
  font-size: inherit;
  letter-spacing: -0.04em;
  line-height: 96px;
  font-weight: 700;
  font-family: inherit;
  mix-blend-mode: luminosity;
  max-width: 125%;
  flex-shrink: 0;
}
.headline,
.subtitle,
.text {
  position: relative;
  display: inline-block;
}
.subtitle {
  width: 312px;
  font-size: 18px;
  line-height: 34px;
  mix-blend-mode: luminosity;
}
.text {
  flex: 1;
  letter-spacing: 0.01em;
  line-height: 30px;
  font-weight: 700;
  min-width: 68px;
}
.vector-icon {
  height: 9.4px;
  width: 6.1px;
  position: relative;
  display: none;
}
.primarybutton {
  flex: 1;
  border-radius: var(--br-81xl);
  background-color: var(--primary-buttons);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5px var(--padding-smi);
  gap: var(--gap-5xs);
  white-space: nowrap;
}
.text1 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 92px;
  font-weight: 700;
  display: inline-block;
  min-width: 50px;
}
.vector-stroke-icon {
  height: 9.4px;
  width: 6.1px;
  position: relative;
  display: none;
}
.buttons,
.secondarybutton {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.secondarybutton {
  height: 33px;
  border-radius: var(--br-81xl);
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  color: var(--color-gray-100);
}
.buttons {
  width: 174px;
  justify-content: center;
  gap: 4px;
  font-size: var(--font-size-mini);
  color: var(--white);
}
.all-rights-reserved,
.armand-morin,
.not-financial-advice {
  margin: 0;
}
.message {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 20px;
}
.left-column {
  width: 457px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 109px 0;
  box-sizing: border-box;
  gap: 40px;
  min-width: 457px;
  max-width: 100%;
}
.shape-and-lines {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.github,
.linkedin,
.x {
  margin: 0;
}
.links {
  position: relative;
  line-height: 20px;
}
.right-column {
  height: 477px;
  width: 332px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) 51px;
  box-sizing: border-box;
  gap: 84px;
  min-width: 332px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xs);
}
.body,
.content {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.body {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 130px;
}

/* .content {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
} */

.content {
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: var(--headline-1-size);
  color: var(--headlines);
  transform: translate(-75%, 0%);
  display: flex;
}
.gradient,
.orphic-landing {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}
.gradient {
  flex: 1;
  background: radial-gradient(
      50% 50%at 50% 50%,
      #d5e2b2 16.67%,
      rgba(144, 224, 255, 0) 48.34%
    ),
    radial-gradient(50% 50%at 50% 50%, #ffcb57 31.7%, rgba(238, 117, 92, 0)),
    radial-gradient(50% 50%at 50% 50%, #a960ee, #c788cb);
  flex-direction: column;
  align-items: flex-end;
  padding: 23px 6px 219px 5px;
  gap: 45px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--primary-buttons);
  font-family: var(--headline-1);
}
.orphic-landing {
  width: 100%;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  border: 1px solid #000;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1000px) {
  .left-column,
  .right-column {
    flex: 1;
  }
  .body {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 100px) {
  .header-tabs {
    flex-wrap: wrap;
  }
  .headline {
    font-size: 43px;
    line-height: 58px;
  }
  .body {
    gap: 65px;
  }
  .gradient {
    padding-top: var(--padding-xl);
    padding-bottom: 142px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .header-tabs {
    padding-left: var(--padding-23xl);
    padding-right: var(--padding-23xl);
    box-sizing: border-box;
  }
  .left-column {
    gap: var(--gap-xl);
    padding-top: var(--padding-52xl);
    padding-bottom: var(--padding-52xl);
    box-sizing: border-box;
    min-width: 100%;
  }


  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .gradient {
    gap: 22px;
  }
}
@media screen and (max-width: 450px) {
  .dashboard-parent {
    flex-wrap: wrap;
  }
  .header-tabs {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .headline {
    font-size: 26px;
    line-height: 38px;
  }
  .right-column {
    gap: 42px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .body {
    gap: 32px;
  }
  .gradient {
    padding-bottom: 92px;
    box-sizing: border-box;
  }
}
