.home1 {
  text-decoration: none;
  height: 33px;
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 92px;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector-1-stroke {
  height: 9.4px;
  width: 6.1px;
  position: relative;
  display: none;
}
.button-home {
  flex: 1;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-200);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-2xl);
  gap: var(--gap-11xs-9);
  white-space: nowrap;
}
.button-home,
.home,
.tabs-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home {
  align-self: stretch;
  background-color: var(--color-gray-200);
  overflow: hidden;
  flex-direction: row;
}
.tabs-container {
  width: 91.1px;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  color: var(--primary-buttons);
}
.dashboard1,
.space {
  height: 44px;
  position: relative;
}
.space {
  width: 104px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard1 {
  text-decoration: none;
  flex: 1;
  line-height: 92px;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.dashboard {
  width: 103px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.monitoring1 {
  text-decoration: none;
  height: 44px;
  flex: 1;
  position: relative;
  line-height: 92px;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.monitoring {
  width: 103px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.docs1 {
  margin-left: -2px;
  text-decoration: none;
  height: 44px;
  flex: 1;
  position: relative;
  line-height: 92px;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.docs {
  width: 103px;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contacts,
.contacts1,
.docs {
  flex-shrink: 0;
  display: flex;
}
.contacts1 {
  margin-left: -16px;
  text-decoration: none;
  height: 44px;
  width: 103px;
  position: relative;
  line-height: 92px;
  font-weight: 700;
  color: inherit;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.contacts {
  width: 76px;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.app1,
.space1 {
  position: relative;
}
.space1 {
  height: 44px;
  width: 103px;
  overflow: hidden;
  flex-shrink: 0;
}
.app1 {
  text-decoration: none;
  height: 33px;
  flex: 1;
  letter-spacing: 0.01em;
  line-height: 92px;
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector-1-stroke1 {
  height: 9.4px;
  width: 6.1px;
  position: relative;
  display: none;
}
.app,
.button-app {
  background-color: var(--color-gray-200);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
}
.button-app {
  flex: 1;
  border-radius: var(--br-81xl);
  display: flex;
  align-items: flex-start;
  padding: 0 var(--padding-2xl);
  gap: var(--gap-11xs-9);
  white-space: nowrap;
}
.app {
  align-self: stretch;
}
.app,
.header-tabs,
.navigation {
  display: flex;
  align-items: flex-start;
}
.navigation {
  width: 91.1px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  color: var(--primary-buttons);
}
.header-tabs {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: 12.6px var(--padding-xl) 12.5px;
  gap: var(--gap-sm);
  flex-shrink: 0;
}
.finance,
.orphic {
  margin: 0;
}
.headline {
  margin: 0;
  width: 569px;
  height: 192px;
  font-size: inherit;
  letter-spacing: -0.04em;
  line-height: 96px;
  font-weight: 400;
  font-family: var(--headline-1);
  display: inline-block;
  white-space: nowrap;
  mix-blend-mode: luminosity;
  max-width: 125%;
  flex-shrink: 0;
}
.headline,
.subtitle,
.text {
  position: relative;
}
.subtitle {
  width: 312px;
  height: 34px;
  font-size: 18px;
  line-height: 34px;
  display: inline-block;
  white-space: nowrap;
  mix-blend-mode: luminosity;
}
.text {
  height: 30px;
  flex: 1;
  letter-spacing: 0.01em;
  line-height: 92px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector-icon {
  height: 9.4px;
  width: 6.1px;
  position: relative;
  display: none;
}
.primarybutton,
.text1 {
  flex: 1;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.primarybutton {
  border-radius: var(--br-81xl);
  background-color: var(--primary-buttons);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1.5px var(--padding-smi);
  gap: var(--gap-5xs);
}
.text1 {
  height: 92px;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 92px;
  font-weight: 700;
  justify-content: center;
}
.vector-stroke-icon {
  height: 9.4px;
  width: 6.1px;
  position: relative;
  display: none;
}
.buttons,
.secondarybutton {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.secondarybutton {
  height: 33px;
  width: 76px;
  border-radius: var(--br-81xl);
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  color: var(--color-gray-100);
}
.buttons {
  width: 174px;
  background-color: var(--primary-buttons);
  justify-content: center;
  gap: 4px;
  font-size: var(--headline-4-size);
  color: var(--white);
}
.all-rights-reserved,
.armand-morin,
.not-financial-advice {
  margin: 0;
}
.message {
  width: 133px;
  height: 60px;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 20px;
  display: inline-block;
}
.left-column {
  width: 457px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 109px 0;
  box-sizing: border-box;
  gap: 40px;
  min-width: 457px;
  max-width: 100%;
}
.shape-and-lines {
  width: 229.4px;
  height: 293px;
  position: relative;
}
.github,
.linkedin,
.x {
  margin: 0;
}
.links {
  width: 45px;
  height: 60px;
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 110.5px var(--padding-xl);
  box-sizing: border-box;
  gap: 84px;
  min-width: 457px;
  max-width: 100%;
  font-size: var(--font-size-xs);
}
.body,
.body-container {
  flex-direction: row;
  max-width: 100%;
  flex-shrink: 0;
}
.body {
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 152.5px 46px;
  box-sizing: border-box;
  gap: var(--gap-sm);
  debug_commit: bf4bc93;
}
.body-container {
  align-self: stretch;
  padding: 0 71px;
  font-size: var(--headline-1-size);
  color: var(--headlines);
}
.body-container,
.center,
.gradient,
.orphic-landing {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.center {
  height: 1032px;
  flex: 1;
  flex-direction: column;
  padding: 0 0 962.9px;
  max-width: 100%;
}
.gradient,
.orphic-landing {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  flex-direction: row;
}
.gradient {
  width: 1279px;
  margin: 0 !important;
  position: absolute;
  border-radius: 10px;
  background: radial-gradient(
      50% 50%at 50% 50%,
      #d5e2b2 16.67%,
      rgba(144, 224, 255, 0) 48.34%
    ),
    radial-gradient(50% 50%at 50% 50%, #ffcb57 31.7%, rgba(238, 117, 92, 0)),
    radial-gradient(50% 50%at 50% 50%, #a960ee, #c788cb);
  padding: 0 57px 0 58px;
  z-index: 1;
  text-align: center;
  font-size: var(--headline-4-size);
  color: var(--color-gray-100);
  font-family: var(--headline-4);
}
.orphic-landing {
  width: 100%;
  height: 0;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 846px) {
  .left-column,
  .right-column {
    min-width: 100%;
  }
}
