:root {
  --background-color: #efe2c7; /* Light beige */
  --text-color: #004514; /* Green */
  --button-bg-color: #004514; /* Green */
  --button-text-color: #efe2c7; /* Light beige */
}

[data-theme="dark"] {
  --background-color: #004514; /* Dark Green */
  --text-color: #efe2c7; /* Light beige */
  --button-bg-color: #efe2c7; /* Light beige */
  --button-text-color: #004514; /* Dark Green */
}

body {
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme change */
}

.header {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a {
  text-decoration: none;
  color: inherit; /* Ensures color changes with theme */
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 10px; /* Space between buttons */
}

.connect-button, .theme-toggle {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  font-family: 'Lora', serif; /* Ensure font consistency */
  font-size: 16px; /* Optional: Adjust based on your design preferences */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  display: flex; /* Align text inside the button */
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme change */
}


.container {
  width: 80%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.art-image {
  width: 80%;
  border-radius: 50px;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.title {
  font-size: 48px;
  font-family: 'Abril Fatface', cursive;
}

.subtitle {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.enter-button {
  margin-top: 20px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  display: flex; /* Centers text inside the button horizontally */
  justify-content: center; /* Center horizontally in the button */
  align-items: center; /* Center vertically in the button */
}
