.label {
    text-decoration: none;
    position: relative;
    font-weight: 700;
    color: inherit;
    display: inline-block;
    min-width: 84px;
  }
  .hide,
  .icon {
    position: absolute;
  }
  .icon {
    top: 3px;
    right: 49px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .hide {
    top: 0;
    right: 0;
  }
  .password-hide-see {
    height: 27px;
    width: 73px;
    position: relative;
    display: none;
    text-align: right;
    font-size: var(--font-size-lg);
    color: var(--color-dimgray);
    font-family: var(--font-poppins);
  }
  .field-labels {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-10xs);
    font-family: var(--font-abhaya-libre);
  }
  .div {
    align-self: stretch;
    flex: 1;
    position: relative;
  }
  .inputs-child {
    height: 24px;
    width: 1px;
    position: relative;
    background-color: var(--color-gray-100);
  }
  .icons,
  .inputs {
    position: absolute;
    display: none;
  }
  .inputs {
    top: 15px;
    left: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .icons {
    top: 40px;
    right: 24px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .text-field1 {
    align-self: stretch;
    height: 56px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-gray-200);
    border: 1px solid var(--headlines);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
  }
  .error-message {
    width: 101px;
    position: relative;
    font-size: var(--font-size-sm);
    color: var(--color-crimson);
    display: none;
  }
  .text-field {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--headlines);
    font-family: var(--font-poppins);
  }
  .label1 {
    position: relative;
    font-weight: 700;
    display: inline-block;
    min-width: 80px;
  }
  .hide1,
  .icon1 {
    position: absolute;
  }
  .icon1 {
    top: 3px;
    right: 49px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .hide1 {
    top: 0;
    right: 0;
  }
  .password-hide-see1 {
    height: 27px;
    width: 73px;
    position: relative;
    display: none;
    text-align: right;
    font-size: var(--font-size-lg);
    color: var(--color-dimgray);
    font-family: var(--font-poppins);
  }
  .label-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-10xs);
    font-family: var(--font-abhaya-libre);
  }
  .div1 {
    align-self: stretch;
    flex: 1;
    position: relative;
  }
  .inputs-item {
    height: 24px;
    width: 1px;
    position: relative;
    background-color: var(--color-gray-100);
  }
  .icons1,
  .inputs1 {
    position: absolute;
    display: none;
  }
  .inputs1 {
    top: 15px;
    left: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .icons1 {
    top: 40px;
    right: 24px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .text-field3 {
    align-self: stretch;
    height: 56px;
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-gray-200);
    border: 1px solid var(--headlines);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
  }
  .error-message1 {
    width: 101px;
    position: relative;
    font-size: var(--font-size-sm);
    color: var(--color-crimson);
    display: none;
  }
  .text-field2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--headlines);
    font-family: var(--font-poppins);
  }
  .login1 {
    margin-top: -16.5px;
    text-decoration: none;
    position: relative;
    letter-spacing: -0.04em;
    line-height: 96px;
    color: inherit;
    display: inline-block;
    mix-blend-mode: multiply;
    min-width: 86px;
  }
  .button,
  .login {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .button {
    align-self: stretch;
    height: 64px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    flex-shrink: 0;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .login {
    width: 100%;
    position: relative;
    border-radius: 24px;
    background-color: var(--white);
    flex-direction: column;
    justify-content: flex-start;
    padding: 60.5px 75px 119.5px;
    gap: 24px;
    mix-blend-mode: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: 35px;
    color: var(--headlines);
    font-family: var(--font-abril-fatface);
  }
  @media screen and (max-width: 450px) {
    .label,
    .label1 {
      font-size: var(--font-size-base);
    }
  }
  @media screen and (max-width: 339px) {
    .login {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  