.home {
    text-decoration: none;
    flex: 1;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 33px;
    font-weight: 700;
    color: inherit;
  }
  .vector-1-stroke {
    height: 9.4px;
    width: 6.1px;
    position: relative;
    display: none;
  }
  .button-home,
  .home-app-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button-home {
    align-self: stretch;
    border-radius: var(--br-81xl);
    background-color: var(--color-gray-200);
    overflow: hidden;
    flex-direction: row;
    padding: 0 var(--padding-2xl);
    gap: var(--gap-11xs-9);
  }
  .home-app-buttons {
    width: 91.1px;
    flex-direction: column;
    padding: var(--padding-7xs-5) 0 0;
    box-sizing: border-box;
  }
  .dashboard,
  .docs1,
  .monitoring {
    text-decoration: none;
    flex: 1;
    position: relative;
    line-height: 44px;
    font-weight: 700;
    color: inherit;
  }
  .docs1 {
    margin-left: -2px;
    display: inline-block;
  }
  .docs {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contacts2 {
    margin-left: -16px;
    text-decoration: none;
    width: 103px;
    position: relative;
    line-height: 44px;
    font-weight: 700;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    debug_commit: 69da668;
  }
  .contacts1,
  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contacts1 {
    width: 76px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .content {
    margin: 0;
    width: 385px;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-mini);
    color: var(--secondary-buttons);
    font-family: var(--font-abhaya-libre);
  }
  .app {
    text-decoration: none;
    flex: 1;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 33px;
    font-weight: 700;
    color: inherit;
  }
  .vector-1-stroke1 {
    height: 9.4px;
    width: 6.1px;
    position: relative;
    display: none;
  }
  .button-app,
  .home-app-buttons1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button-app {
    align-self: stretch;
    border-radius: var(--br-81xl);
    background-color: var(--color-gray-200);
    overflow: hidden;
    flex-direction: row;
    padding: 0 var(--padding-2xl);
    gap: var(--gap-11xs-9);
    z-index: 1;
  }
  .home-app-buttons1 {
    width: 91.1px;
    flex-direction: column;
    padding: var(--padding-7xs-5) 0 0;
    box-sizing: border-box;
  }
  .buttons,
  .navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .buttons {
    flex: 1;
    justify-content: space-between;
    gap: 20px;
  }
  .navigation {
    width: 918.7px;
    justify-content: flex-start;
    padding: 0 var(--padding-53xl);
    box-sizing: border-box;
    top: 0;
    z-index: 99;
    position: sticky;
    text-align: center;
    font-size: var(--font-size-mini);
    color: var(--color-gray-100);
    font-family: var(--font-abhaya-libre);
  }
  .space,
  .space1 {
    width: 104px;
    height: 44px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .space1 {
    width: 103px;
  }
  .union-icon {
    height: 295.5px;
    width: 221.6px;
    position: relative;
  }
  .right-column {
    position: absolute;
    top: 0;
    left: 0;
    width: 460px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 181.3px var(--padding-xl) 181.2px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .headline {
    margin: 0;
    position: absolute;
    top: 69px;
    left: 454px;
    font-size: inherit;
    letter-spacing: -0.04em;
    line-height: 96px;
    font-weight: 400;
    font-family: var(--font-abril-fatface);
    display: inline-block;
    width: 569px;
    mix-blend-mode: luminosity;
    z-index: 1;
  }
  .for-any-additional {
    display: block;
    white-space: pre-wrap;
  }
  .armand-morinberkeleyedu,
  .blank-line,
  .linkedincominarmand-morin {
    display: block;
  }
  .subtitle {
    margin: 0;
    position: absolute;
    top: 245px;
    left: 582.5px;
    font-size: 20px;
    line-height: 34px;
    font-weight: 700;
    display: inline-block;
    width: 312px;
    mix-blend-mode: luminosity;
    max-height: 204px;
    word-break: break-word;
  }
  .all-rights-reserved,
  .armand-morin,
  .not-financial-advice {
    margin: 0;
  }
  .message {
    position: absolute;
    top: 529px;
    left: 672px;
    font-size: 12px;
    line-height: 20px;
  }
  .sidebar {
    align-self: stretch;
    height: 658px;
    position: relative;
    max-width: 100%;
    text-align: center;
    font-size: 64px;
    color: var(--headlines);
    font-family: var(--font-abhaya-libre);
  }
  .background,
  .contacts {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .background {
    flex: 1;
    background: radial-gradient(
        50% 50%at 50% 50%,
        #d5e2b2 16.67%,
        rgba(144, 224, 255, 0) 48.34%
      ),
      radial-gradient(
        50% 50%at 50% 50%,
        rgba(236, 170, 122, 0.1) 50.74%,
        rgba(169, 96, 238, 0)
      ),
      radial-gradient(50% 50%at 50% 50%, #ffcb57 31.7%, rgba(238, 117, 92, 0)),
      radial-gradient(
        50% 50%at 50% 50%,
        #ffcb57 41.18%,
        rgba(183, 120, 225, 0) 71.99%
      ),
      radial-gradient(50% 50%at 50% 50%, #a960ee, rgba(199, 136, 203, 0.62) 90.5%);
    flex-direction: column;
    padding: 13px 66px 151.5px var(--padding-53xl);
    gap: 165.5px;
    max-width: 100%;
  }
  .contacts {
    width: 100%;
    position: relative;
    background-color: var(--white);
    border: 1px solid #000;
    overflow: auto;
    flex-direction: row;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 925px) {
    .navigation {
      padding-left: var(--padding-17xl);
      padding-right: var(--padding-17xl);
      box-sizing: border-box;
    }
    .headline {
      font-size: 51px;
      line-height: 77px;
    }
    .background {
      padding-top: var(--padding-xl);
      padding-bottom: 98px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 700px) {
    .content {
      display: none;
    }
    .background {
      gap: 83px;
      padding-left: var(--padding-17xl);
      padding-right: 33px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .headline {
      font-size: 38px;
      line-height: 58px;
    }
    .subtitle {
      font-size: 16px;
      line-height: 27px;
    }
    .background {
      gap: 41px;
      padding-bottom: 64px;
      box-sizing: border-box;
    }
  }
  