.space {
    width: 104px;
    height: 44px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .home,
  .space,
  .space1 {
    position: relative;
  }
  .space1 {
    width: 103px;
    height: 44px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .home {
    text-decoration: none;
    flex: 1;
    letter-spacing: 0.01em;
    line-height: 33px;
    font-weight: 700;
    color: inherit;
  }
  .vector-1-stroke {
    height: 9.4px;
    width: 6.1px;
    position: relative;
    display: none;
  }
  .button-home,
  .buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button-home {
    align-self: stretch;
    border-radius: var(--br-81xl);
    background-color: var(--color-gray-200);
    overflow: hidden;
    flex-direction: row;
    padding: 0 var(--padding-2xl);
    gap: var(--gap-11xs-9);
  }
  .buttons {
    width: 91.1px;
    flex-direction: column;
    padding: var(--padding-7xs-5) 0 0;
    box-sizing: border-box;
  }
  .dashboard1,
  .docs1,
  .monitoring {
    text-decoration: none;
    flex: 1;
    position: relative;
    line-height: 44px;
    font-weight: 700;
    color: inherit;
  }
  .docs1 {
    margin-left: -2px;
    display: inline-block;
  }
  .docs {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contacts1 {
    margin-left: -16px;
    text-decoration: none;
    width: 103px;
    position: relative;
    line-height: 44px;
    font-weight: 700;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    debug_commit: 69da668;
  }
  .contacts,
  .dashboard-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contacts {
    width: 76px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .dashboard-parent {
    margin: 0;
    width: 385px;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-mini);
    color: var(--secondary-buttons);
    font-family: var(--font-abhaya-libre);
  }
  .app {
    text-decoration: none;
    flex: 1;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 33px;
    font-weight: 700;
    color: inherit;
  }
  .vector-1-stroke1 {
    height: 9.4px;
    width: 6.1px;
    position: relative;
    display: none;
  }
  .button-app,
  .buttons1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button-app {
    align-self: stretch;
    border-radius: var(--br-81xl);
    background-color: var(--color-gray-200);
    overflow: hidden;
    flex-direction: row;
    padding: 0 var(--padding-2xl);
    gap: var(--gap-11xs-9);
  }
  .buttons1 {
    width: 91.1px;
    flex-direction: column;
    padding: var(--padding-7xs-5) 0 0;
    box-sizing: border-box;
  }
  .buttons-parent,
  .center-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .buttons-parent {
    flex: 1;
    justify-content: space-between;
    gap: 20px;
  }
  .center-inner {
    width: 922.2px;
    justify-content: flex-start;
    padding: 0 74px;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: center;
    font-size: var(--font-size-mini);
    color: var(--color-gray-100);
    font-family: var(--font-abhaya-libre);
  }
  .wallet-tracker {
    flex: 1;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 33px;
    font-weight: 700;
  }
  .vector-1-stroke2 {
    height: 9.4px;
    width: 6.1px;
    position: relative;
  }
  .dash1 {
    width: 200px;
    border-radius: var(--br-81xl);
    background-color: var(--color-gray-400);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-9xs-5) 23px var(--padding-9xs-5) 22px;
    box-sizing: border-box;
    gap: var(--gap-3xs);
    white-space: nowrap;
  }
  .pool-monitoring {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xl);
    letter-spacing: 0.01em;
    line-height: 33px;
    font-weight: 700;
    font-family: var(--font-abhaya-libre);
    color: var(--color-gray-300);
    text-align: center;
  }
  .vector-1-stroke3 {
    height: 9.4px;
    width: 6.1px;
    position: relative;
  }
  .dash2 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-9xs-5) 30px var(--padding-9xs-5) 29px;
    background-color: var(--color-gray-400);
    width: 247px;
    border-radius: var(--br-81xl);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: var(--gap-3xs);
    white-space: nowrap;
  }
  .dash2:hover,
  .dash3:hover {
    background-color: var(--color-darkslategray);
  }
  .sniper {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xl);
    letter-spacing: 0.01em;
    line-height: 33px;
    font-weight: 700;
    font-family: var(--font-abhaya-libre);
    color: var(--color-gray-300);
    text-align: center;
  }
  .vector-1-stroke4 {
    height: 9.4px;
    width: 6.1px;
    position: relative;
  }
  .dash3 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-9xs-5) var(--padding-lgi) var(--padding-9xs-5) 18px;
    background-color: var(--color-gray-400);
    width: 131px;
    border-radius: var(--br-81xl);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: var(--gap-3xs);
  }
  .depth-viz {
    flex: 1;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 33px;
    font-weight: 700;
  }
  .vector-1-stroke5 {
    height: 9.4px;
    width: 6.1px;
    position: relative;
  }
  .dash4,
  .left-column {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .dash4 {
    width: 161px;
    border-radius: var(--br-81xl);
    background-color: var(--color-gray-400);
    overflow: hidden;
    flex-direction: row;
    padding: var(--padding-9xs-5) var(--padding-lgi);
    gap: var(--gap-3xs);
    white-space: nowrap;
  }
  .left-column {
    flex: 1;
    flex-direction: column;
    padding: 128.5px var(--padding-xl);
    gap: 80px;
    min-width: 362px;
    max-width: 100%;
  }
  .right-column-child {
    width: 248.3px;
    flex: 1;
    position: relative;
    max-height: 100%;
  }
  .body,
  .center,
  .right-column {
    box-sizing: border-box;
    max-width: 100%;
  }
  .right-column {
    height: 658px;
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 222px var(--padding-xl);
    min-width: 460px;
  }
  .body,
  .center {
    align-self: stretch;
    flex-shrink: 0;
  }
  .body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 152.5px 1px;
    row-gap: 20px;
  }
  .center {
    height: 1032px;
    overflow: hidden;
    flex-direction: column;
    padding: 13px 71px 975px;
    gap: 13px;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-gray-300);
    font-family: var(--font-abhaya-libre);
  }
  .background,
  .center,
  .dashboard {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .background {
    flex: 1;
    background: radial-gradient(
        50% 50%at 50% 50%,
        #d5e2b2 16.67%,
        rgba(144, 224, 255, 0) 48.34%
      ),
      radial-gradient(
        50% 50%at 50% 50%,
        rgba(236, 170, 122, 0.1) 50.74%,
        rgba(169, 96, 238, 0)
      ),
      radial-gradient(50% 50%at 50% 50%, #ffcb57 31.7%, rgba(238, 117, 92, 0)),
      radial-gradient(
        50% 50%at 50% 50%,
        #ffcb57 41.18%,
        rgba(183, 120, 225, 0) 71.99%
      ),
      radial-gradient(50% 50%at 50% 50%, #a960ee, rgba(199, 136, 203, 0.62) 90.5%);
    flex-direction: column;
    max-width: 100%;
  }
  .dashboard {
    width: 100%;
    position: relative;
    background-color: var(--white);
    border: 1px solid #000;
    box-sizing: border-box;
    overflow: auto;
    flex-direction: row;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 975px) {
    .right-column-child {
      align-self: stretch;
      width: auto;
    }
    .right-column {
      flex: 1;
    }
    .body {
      flex-wrap: wrap;
      padding-top: var(--padding-80xl);
      padding-bottom: var(--padding-80xl);
      box-sizing: border-box;
    }
    .center {
      height: auto;
    }
  }
  @media screen and (max-width: 950px) {
    .center-inner {
      padding-left: var(--padding-18xl);
      padding-right: var(--padding-18xl);
      box-sizing: border-box;
    }
    .center {
      padding-top: var(--padding-xl);
      padding-bottom: 412px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 700px) {
    .dashboard-parent {
      display: none;
    }
    .left-column {
      padding-top: var(--padding-65xl);
      padding-bottom: var(--padding-65xl);
      box-sizing: border-box;
      min-width: 100%;
    }
    .right-column {
      padding-top: var(--padding-125xl);
      padding-bottom: var(--padding-125xl);
      min-width: 100%;
    }
    .body,
    .center,
    .right-column {
      box-sizing: border-box;
    }
    .body {
      padding-top: var(--padding-45xl);
      padding-bottom: var(--padding-45xl);
    }
    .center {
      padding-left: var(--padding-16xl);
      padding-right: var(--padding-16xl);
    }
  }
  @media screen and (max-width: 450px) {
    .sniper {
      font-size: 16px;
      line-height: 74px;
    }
    .left-column {
      gap: 40px;
    }
    .right-column {
      gap: 100px;
    }
    .center {
      padding-bottom: 268px;
      box-sizing: border-box;
    }
  }
  